@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  color: white;
  background-image: url("https://ibb.co/cYsv8Kh");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Baloo Bhai 2", cursive;
  /* height: 12344px; */
}
.header {
  display: flex;
  justify-content: space-between;
  margin: 2% 3%;
  /* background-color: rgb(250, 3, 3); */
}
.logo {
  position: absolute;
  top: 15px;
  font-size: 45px;
  cursor: pointer;
}
.header ul {
  display: inline-block;
  position: absolute;
  top: 35px;
  right: 20%;
}
.header ul li {
  display: inline-block;
}
.header ul li a {
  border: 2px solid white;
  margin: 20px;
  padding: 4px 25px;
  color: rgb(247, 247, 16);
  font-size: 21px;
  text-decoration: none;
  border-radius: 9px;
  transition: 0.3s;
  font-weight: bold;
  letter-spacing: 1px;
}
.header ul li a:hover {
  background-color: rgb(241, 235, 235);
  color: rgb(14, 13, 13);
  border: 2px solid white;

  /* transform: scale(7.9); */
  font-weight: bold;
}
.btn {
  position: absolute;
  top: 30px;
  right: 40px;
  padding: 7px 19px;
  border-radius: 20px;
  font-family: "Baloo Bhai 2", cursive;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: rgb(233, 16, 70);
  text-align: center;
  cursor: pointer;
  border: 1px hidden rgb(233, 16, 70);
  transition: 0.4s;
}
.btn:hover {
  transform: scale(1.2);
}
.home {
  display: block;
  position: absolute;
  top: 30%;
  left: 7%;
  padding: 30px;
  width: 40%;
  border-radius: 9px;
  height: 57%;
}
.home:hover {
  background-color: rgb(47, 70, 70);
  color: black;
  transition: 0.3s;
  cursor: pointer;
}
.h2 {
  text-transform: capitalize;
  font-size: 30px;
  text-align: center;
}
.h3 {
  font-size: medium;
  text-align: center;
  margin-top: 20px;
}
.h4 {
  position: absolute;
  left: 32%;
  margin-top: 25px;

  /* border: 2px solid black; */
}
.h4 button {
  padding: 7px 45px;
  border: 2px solid rgb(5, 5, 5);
  border-radius: 15px;
  background-color: rgb(226, 208, 43);
  font-weight: bold;
  font-family: "Baloo Bhai 2", cursive;
  font-size: 20px;
  transition: 0.4s;
}
.h4 button:hover {
  background-color: black;
  color: yellow;
  border: 2px solid yellow;
  transform: scale(1.1);
}
.trainer {
  background-color: rgb(90, 69, 69);
  margin-top: 50%;
}
.trainer h2 {
  /* position: absolute; */
  left: 20%;
  font-size: 4em;
  margin-top: 5%;
  margin-left: 20%;
}
.trainer h3 {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.trainer h4 {
  color: rgb(75, 201, 113);
  font-size: 40px;
  margin-left: 3%;
  padding: 10px;
  letter-spacing: 1px;
}
/* .img {
  margin: 1% 4%;
}
div img {
  padding: 20px;
} */
.shedule {
  background-color: rgb(40, 61, 42);
  height: 500px;
}
.shedule h2 {
  /* margin-left: 4%; */
  text-align: center;
  font-size: 60px;
  color: rgb(206, 152, 36);
  text-decoration: underline;
  letter-spacing: 1px;
  text-transform: capitalize;
}
.shedule ul {
  display: inline-block;
  /* margin-top: 111%; */
  border: 2px solid yellow;
  text-align: center;
  margin-top: 1%;
  margin-left: 35%;
}
.shedule ul li {
  display: block;
  font-size: larger;
  padding: 1%;
}
.shedule h3 {
  color: rgb(109, 187, 176);
  text-align: center;
  font-size: 1.3em;
  letter-spacing: 2px;
}
.about {
  background-color: rgb(36, 34, 34);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  height: 400px;
}
.about h2 {
  /* text-decoration: underline; */
  font-size: xxx-large;
  color: rgb(151, 151, 80);
}
.about p {
  font-size: large;
}
.about h3 {
  color: grey;
  font-size: x-large;
}
.about button {
  padding: 8px 60px;
  font-size: 1.2em;
  font-family: "Baloo Bhai 2", cursive;
  border-radius: 15px;
  border: 3px solid red;
  background-color: darkslategray;
  color: bisque;
  transition: 0.4s;
}
.about button:hover {
  transform: scale(1.2);
  box-shadow: 5px;
  text-shadow: 12px red;
}
footer {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.footer {
  position: absolute;
  left: 10%;
}
.svg {
  /* position: absolute; */
  top: 20%;
  left: 50%;
}
.img-container {
  /* align-items: center; */
  display: flex !important;
  /* justify-content: space-between; */
  width: 33%;
  height: 350px;
  border: 2px solid black;
  border-radius: 10px;
  /* overflow: hidden; */
  /* margin: 10px; */
  /* flex-direction: column; */
}
.img-container img {
  width: 100%;
  /* background-position: center; */
  /* background-attachment: fixed; */
  /* margin: auto; */
  /* background-size: cover; */
  object-fit: contain;
}
